table {
	border:1px solid black;
	border-collapse:collapse;
	width:100%;
}
table td{
	border:1px solid black;
	width:100px;
}
table th{
	border:1px solid black;
	width:100px;
}
tbody th{
	background-color:#A3BAE9;
	
}