@CHARSET "utf-8";
body{
	font-family:"微软雅黑";
	width:800px;
	margin:0em auto;
}
.container section header{
	margin-left:0px;
	width:770px;
}
.container section header img{
	float:right;
}
.container section header table{
	width:770px;
	text-align:center;
	font-size:25px;
}
.container section header .clubname{
	font-size:80px;
}